/**
 * Front Page Styling
 */

.frontpage {
    #show-schedule,
    #video-on-demand,
    {
        @include breakpoint(sm) {
            @include spacemar(3vh);
            @include spacemar(3em);
        }
    }
}


/**
 * styling for the underbanner
 */

.frontpage .underbanner {
    @include spacepad(4em);
}


/**
 * Styling for the shows schedule under the mainbanner
 */

.frontpage #show-schedule {
    // background-color: #eee;
    color: $color__secondary;
    /** styling on mobile **/
    @at-root {
        .mobile & {
            background-color: #ff9c3d;
            color: #fff;
            > .slick-container {
                @include spacepad(2em);
            }
        }
    }
    > .slick-container {
        @extend .container;
        @include spacepad(2em);
        border-top: 2px solid $color__primary;
        border-bottom: 2px solid $color__primary;
    }
    .show {
        width: calc(100% - 90%);
    }
    .show-title,
    .show-desc {
        text-align: center;
        font-weight: 600;
    }
    .show-title {
        font-size: 1.2em;
    }
    .show-desc {
        font-size: 90%;
    }
}

// video on demand section on the frontpage
.frontpage #video-on-demand {
    .vidio-latest {
        
        @at-root {
            .mobile & {
                padding: 0;
            }
        }
    }
    .vidio-latest > iframe {
        width: 100%;
        height: 300px;
    }
    .vidio-latest > img {
        @extend .center-block;
    }
}


