/**
 * Front Page Styling
 */

/**
 * Styling for the shows schedule under the mainbanner
 */
.frontpage #show-schedule {

	background-color: #eee;
	@include spacepad(15px);

	.show {
		width: calc(100% - 90%);
	}
	.show-title,
	.show-desc {
		text-align: center;
		font-weight: 600;
	}
	.show-title {
		font-size: 1.2em;
	}
	.show-desc {
		font-size: 90%;
		
	}
}

.frontpage #video-on-demand {

	@include spacepad(1em);

	.vidio-latest {
		padding: 0.5em;
	}
	.vidio-latest > iframe {
		width: 100%;
		height: 300px;
	}

	.vidio-latest > img {
		@extend .center-block;
	}

	/** Slick Carousel Customization **/
	.slick-container {
		@extend .container-fluid;
		@include breakpoint(lg) {
			@include spacemar-side(10em);
		}
	}

	.slick-arrow {
		position: absolute;
		top: 35%;
		font-size: 3vw;
		@include breakpoint(xs) {
			display: none;
		}
	}
	.custom-slick-next {
		right: -1.2em;
	}
	.custom-slick-prev {
		left: -1.2em;
	}

}