/**
 * Front Page Styling
 */


.frontpage #show-schedule {

	background-color: #eee;
	@include spacepad(15px);

	.show {
		width: calc(100% - 90%);
	}
	.show-title,
	.show-desc {
		text-align: center;
		font-weight: 600;
	}
	.show-title {
		font-size: 1.2em;
	}
	.show-desc {
		font-size: 90%;
		
	}
}