/** 
 * Page - Quiz Personality
 */

.mobile .item {
    @extend .col-xs-6;
}

#personality-quiz {
    .item {
        float: left;
        position: relative;
        @include transition(.2s);
        @include breakpoint(md) {
            min-width: 160px;
        }
        .fa {
            position: absolute;
            z-index: 10;
            right: 1em;
            bottom: 1em;
            color: #1adc35;
            fill: #fff;
            @include scale(0);
            @include transition(.2s);
        }
        &.selected {
            .fa {
                @include scale(1.5);
            }
        }
    }
}

@include keyframes(slide-down) {
    0% {
        top: -999px;
    }
    90% {
        top: 0;
    }
}

.quiz-result {
    @include spacepad(2em);
    background-color: $color__primary;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: slide-down .5s 1 ease-in-out;
    @include breakpoint(sm) {
        height: 100%;
    }
    .result {
        &-img {
            float: left;
            @include breakpoint(sm) {
                padding-left: 0;
            }
        }
        &-title,
        &-desc,
        &-name {
            text-align: center;
            @include breakpoint(sm) {
                text-align: left;
            }
        }
        &-name {
            @include font-size(8);
        }
        &-desc {
            @include font-size(2);
        }
    }
}

#submitScore {
    width: 100%;
    font-size: 1.5em;
    font-weight: 700;
}

.disabled {
    @extend .disabled;
    pointer-events: none;
}

.enable {
    pointer-events: auto;
}

quiz-content,
result {
    display: block;
}
