/** 
 * Page - Quiz Personality
 */

#personality-quiz {
    .item {
        // min-height: 200px;
        float: left;
        position: relative;
        min-width: 180px;
        @include transition(.2s);
        @include breakpoint(md) {
            min-width: 250px;
        }
        top: 0;
        &.selected {
            top: -40px;
        }
    }
}

@include keyframes(slide-down) {
    0% {
        top: -999px;
    }
    90% {
        top: 0;
    }
}

#result {
    position: absolute;
    background-color: $color__primary;
    width: 100%;
    top: 0;
    height: 100%;
    animation: slide-down .5s 1 ease-in-out;
}
