/**
 * Our Sponsor
 * Styling for the sponsor section (in slider)
 * this is just a section of a page not a page template
 */

#sponsor {
    // custom slick style for sponsor section
    .slick-container {
        @include spacepad(5em);
    }
    .slick-arrow {
        color: $color__primary;
        @include font-size(2);
        top: 43%;
    }
    // set the position for the right arrow
    .custom-slick-next {
        right: 1em;
    }
    // set the position for the left arrow
    .custom-slick-prev {
        left: 1em;
    }
    .item-list {
        img {
            @extend .center-block;
        }
    }
}
