#video-on-demand {
    /** Slick Carousel Customization **/
    .slick-container {
        @extend .container;
        @extend .no-spacepad-side;
    }
    .slick-arrow {
        font-size: 3vw;
        top: 35%;
        color: $color__primary;
    }
}