/* ------------------------------------
 * Spacing - Padding and Margin
 * ------------------------------------ */

// padding top and bottom
@mixin spacepad($value) {
    padding-top: $value;
    padding-bottom: $value;
}

// padding left and right
@mixin spacepad-side($value) {
    padding-left: $value;
    padding-right: $value;
}

@mixin spacemar($value) {
    margin-top: $value;
    margin-bottom: $value;
}

@mixin spacemar-side($value) {
    margin-left: $value;
    margin-right: $value;
}

/**
 * Vertical Align Mixin
 */

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/** 
 * Make sure you add this on the parent container
 * otherwise the content will be blurry

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
 */
