/**
 * Footer Styling
 */

footer#colophon {
    //set the bg to orange (primary color)
    background-color: $color__primary;
    //add padding top and bottom
    @include spacepad(1.2em);
}

footer#colophon {
    // set footer content div to float left
    .footer-content {
        float: left;
        padding-left: 1em;
        padding-right: 1em;
        @include spacemar(1em);
    }
    // hide the widget title while preserving the space
    .widget-title {
        visibility: hidden;
        color: $color__text__menu;
    }
    .widget {
        //remove padding left, margin left, and the bullet point from the list
        ul {
            @extend .nodots;
            li {
                a {
                    color: $color__text__menu;
                    font-size: 1.1em;
                    display: block;
                }
            }
        }
    }
    .site-map {
        li {
            @extend .col-sm-2;
            @extend .col-xs-6;
            @include spacemar(.5em);
            @include font-size(1.5);

            // remove padding left on mobile
            @include breakpoint(xs) {
                padding-left: 0;
            }

            // desktop style
            @include breakpoint(sm) {
                text-align: center; // set the text to centered aligned

                // add border left and right on even child
                &:nth-child(even) {
                    border-left: 1px solid #fff;
                    border-right: 1px solid #fff;
                }
            }
        }
    }
    .site-social {
        // right aligned above mobile screen
        @include breakpoint(sm) {
            text-align: right;
        }
        // set the color for the menu (default to white)
        .title {
            color: $color__text__menu;
        }
        // styling for the copyright text
        .copyrights {
            opacity: 0.6;
            font-weight: 500;
        }
        // the icons is displayed in lists as inline-block elements
        ul > li {
            display: inline-block;
            text-align: center;
            padding: .2em;
            /** 
             * set the default width and substract that to get the
             * proper size for the facebook and twitter
             * Note: might break when we start adding more icons
             */
            $width: 120px;
            &.vidio img {
                max-width: $width;
            }
            &.facebook img,
            &.twitter img {
                max-width: $width - 85px; //35px
            }
        }
    }
}
