/**
 * Header Styling
 */

//size for the site logo
#site-logo {
    max-width: 100px;
    @include breakpoint(sm) {
        max-width: 250px;
        max-height: 250px;
    }
}

// custom container for the masthead
.masthead-container {
    @extend .container-fluid;
    @include breakpoint(lg) {
        width: calc(100% - 10em);
    }
    //set these elements to inherit the height of their parent
    //so that it will looked as if its 100% height
    #site-navigation,
    #site-navigation > div,
    #primary-menu {
        height: inherit;
    }
}

.desktop #masthead {
    // position: fixed;
    width: 100%;
    z-index: 9999;
    padding: 1em;
}


/* *********************** *
 * Mobile Masthead *
 * *********************** */

#masthead {
    padding: 1em 0;
}

