.main-navigation {
    display: block;
    float: right;
    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
        ul {
            // box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            @include card(1);
            float: left;
            position: absolute;
            top: 4em;
            left: -999em;
            z-index: 99999;
            ul {
                left: -999em;
                top: 0;
            }
            li {
                &:hover {
                    background-color: $color__primary;
                    a {
                        color: $color__text__menu;
                    }
                }
                &:hover > ul,
                &.focus > ul {
                    left: 100%;
                }
            }
            a {
                min-width: 10em;
            }
            :hover > a,
            .focus > a {}
            a:hover,
            a.focus {}
        }
        li:hover > ul,
        li.focus > ul {
            // left: auto;
            left: -2em;
        }
    }
    li {
        float: left;
        position: relative;
        &:hover > a,
        &.focus > a {}
    }
    a {
        display: block;
        text-decoration: none;
        color: $color__primary;
        @include transition(.2s);
    }
    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {}
}


/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }
    .nav-previous {
        float: left;
        width: 50%;
    }
    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}

//styling for the arrow highlighter when the menu is hovered
.main-navigation {
    .menu-highlighter {
        text-align: center;
        visibility: hidden;
        @include transition(.3s);
        @include opacity(0);
    }
}

// Main Navigation Link style
.main-navigation {
    //styling for the parent menu
    #primary-menu {
        @include clearfix();
        font-size: 1.2em;
        font-weight: 500;
        > li {
            padding: 1em 2em;
            @at-root {
                &:hover {
                    .menu-highlighter {
                        visibility: visible;
                        @include opacity(1);
                    }
                }
            }
        }
    }
    .sub-menu {
        > li {
            padding: 1em 0.5em;
            text-align: center;
            background-color: #fff;
            cursor: pointer;
        }
    }
}


/* *********************** *
 * Mobile Masthead *
 * *********************** */

#site-navigation {
    @include transition(.3s);
    @at-root {
        body.mobile & {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 99999;
            top: -999px;
            background-color: $color__primary;
            color: #fff;
        }
        body.mobile.menu-active & {
            top: 0;
            overflow: hidden;
            position: fixed;

            // set the mobile menu link to white color
            a {
                color: $color__text__menu;
            }

            #primary-menu {
                width: 100%;
            }
            li {
                width: 100%;
                text-align: center;
            }
        }
    }
}


/** styling for each of the mobile menu bar **/

.menu-bar {
    width: 2em;
    height: 3px;
    display: block;
    background-color: $color__primary;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    right: 0;
    @at-root {
        body.mobile.menu-active {
            .menu-bar {
                right: -5em;
                display: none;
            }
        }
    }
}


/** 
 * generate style for each of the menu-bars
 * with each transition being incremented by 0.2s
 */

@for $i from 1 through 3 {
    .menu-bars-#{$i} {
        @include transition($i * 0.2 + s);
    }
}
