.main-navigation {
    display: block;
    float: left;
    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
        ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 1.5em;
            left: -999em;
            z-index: 99999;
            ul {
                left: -999em;
                top: 0;
            }
            li {
                &:hover > ul,
                &.focus > ul {
                    left: 100%;
                }
            }
            a {
                width: 200px;
            }
            :hover > a,
            .focus > a {}
            a:hover,
            a.focus {}
        }
        li:hover > ul,
        li.focus > ul {
            left: auto;
        }
    }
    li {
        float: left;
        position: relative;
        &:hover > a,
        &.focus > a {}
    }
    a {
        display: block;
        text-decoration: none;
    }
    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {}
}


/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }
    .nav-previous {
        float: left;
        width: 50%;
    }
    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}

// Main Navigation Link style
.main-navigation {
    float: right;
    a {
        color: $color__primary;
        padding: 1em;
    }
    #primary-menu {
        @include clearfix();
        font-size: 1.2em;
        font-weight: 500;

        //fix the blurry when using vertical-align mixin
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        
        #primary-menu > li {
            @include vertical-align();
        }
    }
}


/**
 * Vertical Align Mixin
 */

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

